<h1><a href="<%= @bookmark.url %>"><%= @bookmark.name %></a></h1>
<img src="http://icons.better-idea.org/icon?url=<%= @bookmark.url %>&size=120">
<div class="row">
    <% if policy(@bookmark).update? %>
      <%= link_to "Edit", edit_topic_bookmark_path(@bookmark.topic, @bookmark), class: 'btn btn-success' %>
    <% end %>
    <% if policy(@bookmark).destroy? %>
      <%= link_to "Delete Bookmark", [@bookmark.topic, @bookmark], method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure you want to delete this bookmark?"} %>
    <% end %>
  </div>
  <div class="col-md-2">
    <%= render partial: 'likes/like', locals: {bookmark: @bookmark} %>
  </div>
</div>