<div class="container">
  <h1>My Blocmarks</h1>
  <% @user_bookmarks.each do |bookmark| %>
      <div class="col-md-2">
        <img src="http://icons.better-idea.org/icon?url=<%= bookmark.url %>&size=120">
        <a href="<%= bookmark.url %>"><%= bookmark.name %></a>
        <%= link_to "Delete Bookmark", [bookmark.topic, bookmark], method: :delete, class: 'btn btn-danger' %>
      </div>
  <% end %>
</div>
<br>
<div class="container">
  <h1>My Favorites</h1>
  <% @liked_bookmarks.each do |bookmark| %>
      <div class="col-md-2">
        <img src="http://icons.better-idea.org/icon?url=<%= bookmark.url %>&size=120">
        <a href="<%= bookmark.url %>"><%= bookmark.name %></a>
        <%= render partial: 'likes/like', locals: {bookmark: bookmark} %>
      </div>
  <% end %>
</div>
